body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.title-container {
    text-align: center;
    margin-bottom: 40px;
}

.title-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #343a40;
}

.login-form-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-login {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    background: #007bff;
    border: none;
}

.btn-login:hover {
    background: #0056b3;
}

.input-group {
    position: relative;
}

.input-group .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjusted for spacing */
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    background-color: transparent;
    border: none;
    z-index: 10; /* Ensure eye icon is above input border */
}

.input-group .toggle-password:hover {
    color: #007bff;
}

/* Adjust border-radius for password input */
.form-control-password {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

@media (max-width: 768px) {
    .admin-login-message {
        display: block;
    }
}

.admin-login-message {
    display: none;
    color: red;
    font-weight: bold;
    text-align: center;
}
